input[type="text"] {
    padding: 4px 0px !important;
    margin-bottom: 0px !important;
}

/******* Кнопка создания проекта *******/
.toolbar {
    margin-top: 30px;
    margin-bottom: 30px;
}
.toolbar a {
    display: inline-block;
}
.btn {
    border-radius: 2px !important;
    font-family: 'PFDinDisplayProThin' !important;
    border: none !important;
    color: white !important;
    background: #C04B75 !important;
}
.btn i {
    font-size: 16px;
    margin-right: 10px;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.btn:hover {
    background: #A03D60 !important;
    color: white !important;
}

/****************************************/
#dialog {
    display: none;
}
