input[type="text"] {
    padding: 4px 0px !important;
    margin-bottom: 0px !important;
}

/******* Кнопка создания проекта *******/
.toolbar {
    margin-top: 30px;
    margin-bottom: 30px;
}
.toolbar a {
    display: inline-block;
}
.btn {
    border-radius: 2px !important;
    font-family: 'PFDinDisplayProThin' !important;
    border: none !important;
    color: white !important;
    background: #C04B75 !important;
}
.btn i {
    font-size: 16px;
    margin-right: 10px;
}
.btn:hover {
    background: #A03D60 !important;
    color: white !important;
}

/****************************************/

/********* Форма создания проекта *******/
.buttons {
    margin-top: 15px;
}
.save {
    margin: 10px;
    width: 100px;
    outline: none;
}
.cancel {
    background: rgb(153, 153, 153) !important;
    margin: 10px;
    width: 100px;
    outline: none;
}
.cancel:hover{
    background:  rgb(114, 114, 114) !important;
}
#dialog {
    text-align: center;
}
#dialog input[type='text'] {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin: 15px 0;
    padding: 7px 5px;
    font-size: 14px;
    border-radius: 3px;
    outline: none;
    border: 1px solid rgb(213, 213, 213);
    height: 35px;
}
.ui-dialog-titlebar {
    display: block;
    padding-bottom: 5px;
    margin: 0;
    text-align: left;
}
.ui-widget-header {
    border: 0px !important;
    background: #FFFFFF !important;
    font-weight: normal !important;
}
.ui-dialog-titlebar-close{
    display: none;
}
/****************************************/
#dialog {
    display: none;
}
