.personal_cont {
    margin-top: 45px;
}
.progress_bar {
    margin-left: 0px !important;
}

.navbar-inverse .navbar-inner {
    background: #985182;
    background: -moz-linear-gradient(left, #985182 0%, #564d93 50%, #87a2ca 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #985182), color-stop(50%, #564d93), color-stop(100%, #87a2ca));
    background: -webkit-linear-gradient(left, #985182 0%, #564d93 50%, #87a2ca 100%);
    background: -o-linear-gradient(left, #985182 0%, #564d93 50%, #87a2ca 100%);
    background: -ms-linear-gradient(left, #985182 0%, #564d93 50%, #87a2ca 100%);
    background: linear-gradient(to right, #985182 0%, #564d93 50%, #87a2ca 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#985182', endColorstr='#87a2ca',GradientType=1 );
}

.navbar .nav {
    float: right;
}
.navbar .brand {
    margin: 0; 
    padding: 13px 0px 0px 0px; 
    color: white; 
    font-size: 18px; 
    float: left;
}
.navbar .nav>li>a:hover { 
    text-decoration: underline; 
}
.navbar .nav>li>a {
    float: right; 
    display: inline-block; 
    padding: 12px; 
    color: white; 
    text-decoration: none; 
}















